name: Build and deploy Python app to Azure Web App - fluidflowapp-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
    
      - name: Add Environment.py file
        run: |
          echo "databaseConnectionString = '${{ secrets.MONGODB_ATLAS_CONNECTION_STRING }}'" > Environment.py

      - name: Create and Start virtual environment and Install dependencies (optional)
        run: |
          python -m venv antenv
          source antenv/bin/activate
          pip install -r requirements.txt
      
      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            .
            !antenv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app
      
      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'fluidflowapp-api'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_B8FA9A78BCC047D38060251A8F3AD840 }}
      
